<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <form>
            <div class="form-field">
                <input type="email" placeholder="Email / Username" required />
            </div>
            <div class="form-field">
                <input type="password" placeholder="Password" required /> </div>
            <div class="form-field">
                <button class="btn" type="submit">Log in</button>
            </div>
    </form>
</html>